@import 'colors';

body {
    background-color: $tertiary-color;
    margin: 0;
    font-family: $secondary-font;
}

table, td, th {
    border: 1px solid $tertiary-color;
}

table {
    height: 100vh;
    background-color: $primary-color;
    color: $tertiary-color;
}

thead {
    height: 100px;
    text-align: center;
}

.yards {
    height: 1px;
}

input[type=number] {
    width: 40px;
    text-align: center;
}

input[type=text] {
    width: 60px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::placeholder {
    color: $tertiary-color;
    opacity: .5;
}

.tables {
    display: flex;
    flex-direction: row;
}

.information {
    display: flex;
    flex-direction: row;
}

td {
    text-align: center; 
}

.p {
    height: 75px;
}

input {
    background-color: $primary-color;
    border-color: $secondary-color;
    border: none;
    border-radius: 0px 0px;
    border-bottom: 5px solid $tertiary-color;
    color: $tertiary-color;
}

.modal {
    width: 375px;
}