$font: 'Kanit', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$primary-color: #006747;
$secondary-color: #fce300;
$tertiary-color: #ef3340;
$black: #000000;
$white: #ffffff;

body {
    font-family: $secondary-font;
}

table, td {
    border: 1px solid black;
}

table {
    background-color: $primary-color;
    color: $secondary-color;
}

thead {
    height: 100px;
}

.t2 {
    margin-left: 10px;
}

input[type=number] {
    width: 40px;
    text-align: center;
    color: $secondary-color;
}

input[type=text] {
    width: 60px;
    text-align: center;
    color: $secondary-color;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::placeholder {
    color: $black;
    opacity: .5;
}

.tables {
    display: flex;
    flex-direction: row;
}

.information {
    display: flex;
    flex-direction: row;
}

td {
    text-align: center; 
}

.p {
    height: 75px;
}

input {
    background-color: $primary-color;
    border-width: 2px;
    border-color: $secondary-color;
}

input:focus {
    border-color: $tertiary-color;
}