@import 'colors';

body {
    margin: 0;
    background-color: $primary-color;
}

.header {
    font-size: 40px;
    font-family: $font;
    font-weight: bolder;
    color: $primary-color;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tertiary-color;
}

.fa-flag {
    color: $secondary-color;
}

.options {
    display: flex;
    flex-direction: column;
}

.course-selection, .players-selection, .tee-selection, .submit-button {
    font-size: 30px;
    font-family: $secondary-font;
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    color: $tertiary-color;
}

select {
    background-color: $tertiary-color;
    color: $primary-color;
    border-radius: 10%;
    font-weight: bolder;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 40px;
    font-family: $secondary-font;
    font-size: 25px;
    background-color: $tertiary-color;
    color: $primary-color;
    border: none;
    border-radius: 8%;
    font-weight: bolder;
}